<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h1>Bienvenido :D</h1>
    <h3>Que quieres hacer??</h3>
    <nav class="Menu">
        <ul>
            <li> <a href="../api/">Conseguir una receta</a></li>
            <li> <a href="../salir/">salir</a></li>
        </ul>
    </nav>
    
    {% else %}
    
    <h1>primero debes iniciar sesion amigo</h1>

    {% endif %}
</body>
</html>